# Ignore files of frontend
frontend/node_modules/ 
frontend/.env

#Ignore files of backend
backend/env/
backend/__pycache__/
backend/lib/__pycache__/
backend/routes/__pycache__/
backend/utils/__pycache__/