* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f2f4f4;
}

button {
  background: none;
  border: none;
}

input {
  background: none;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 12px;
}

::-webkit-scrollbar-corner {
  background: #000;
}
